Source: grml-debian-keyring
Section: misc
Priority: optional
Maintainer: Alexander Wirt <formorer@grml.org>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 8)
Homepage: http://git.grml.org/?p=grml-debian-keyring.git
Vcs-git: git://git.grml.org/grml-debian-keyring.git
Vcs-Browser: http://git.grml.org/?p=grml-debian-keyring.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-debian-keyring
Priority: important
Architecture: all
Depends: ${misc:Depends}, gnupg (>= 1.0.6-4)
Description: GnuPG archive key of the grml.org repository
 The Grml repository digitally signs its Release files. This package
 contains the repository key used for that.
