Source:grml-debian-keyring
Section: misc
Priority: optional
Maintainer: Alexander Wirt <formorer@grml.org>
Bugs: mailto:formorer@grml.org
Standards-Version: 3.7.2
Homepage: http://hg.grml.org/grml-debian-keyring
XS-Vcs-hg: http://hg.grml.org/grml-debian-keyring
XS-Vcs-Browser: http://hg.grml.org/grml-debian-kexring

Package: grml-debian-keyring
Priority: important
Architecture: all
Depends: gnupg (>= 1.0.6-4)
Description: GnuPG archive key of the grml.org repository
 The GRML repository digitally signs its Release files. This package
 contains the repository key used for that.
