Source: grml-debian-keyring
Section: misc
Priority: optional
Maintainer: Grml Team <team@grml.org>
Uploaders: Alexander Wirt <formorer@debian.org>,
           Michael Prokop <mika@debian.org>,
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 8)
Homepage: http://git.grml.org/?p=grml-debian-keyring.git
Vcs-git: https://github.com/grml/grml-debian-keyring.git
Vcs-Browser: http://git.grml.org/?p=grml-debian-keyring.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-debian-keyring
Priority: important
Architecture: all
Depends: gnupg (>= 1.0.6-4),
         ${misc:Depends}
Description: GnuPG archive key of the grml.org repository
 The Grml repository digitally signs its Release files. This package
 contains the repository key used for that.
